parameters:
	ignoreErrors:
		-
			message: "#^Method Laravie\\\\Codex\\\\Common\\\\Payload\\:\\:toJson\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Common/Payload.php

