parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\\=\" between int\\<0, max\\>\\|false and 0 is always true\\.$#"
			count: 1
			path: src/Common/Endpoint.php

		-
			message: "#^Parameter \\#2 \\$numeric_prefix of function http_build_query expects string, null given\\.$#"
			count: 1
			path: src/Common/Endpoint.php

